## Data Preparation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('loan_data.csv',index_col=0)
data.head()

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Get a security backup
data_backup=data.copy()

## Explore data

In [4]:
pd.options.display.max_columns= None

In [5]:
data.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466285 entries, 0 to 466284
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  object
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125983 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466265 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  mths_since_last_record       62638 non-null   float64
 30  open_acc                     466256 non-null  float64
 31  pub_rec                      466256 non-null  float64
 32  revol_bal                    466285 non-null  int64
 33  revol_util                   465945 non-null  float64
 34  total_acc                    466256 non-null  float64
 35  initial_list_status          466285 non-null  object
 36  out_prncp                    466285 non-null  float64
 37  out_prncp_inv                466285 non-null  float64
 38  total_pymnt                  466285 non-null  float64
 39  total_pymnt_inv              466285 non-null  float64
 40  total_rec_prncp              466285 non-null  float64
 41  total_rec_int                466285 non-null  float64
 42  total_rec_late_fee           466285 non-null  float64
 43  recoveries                   466285 non-null  float64
 44  collection_recovery_fee      466285 non-null  float64
 45  last_pymnt_d                 465909 non-null  object
 46  last_pymnt_amnt              466285 non-null  float64
 47  next_pymnt_d                 239071 non-null  object
 48  last_credit_pull_d           466243 non-null  object
 49  collections_12_mths_ex_med   466140 non-null  float64
 50  mths_since_last_major_derog  98974 non-null   float64
 51  policy_code                  466285 non-null  int64
 52  application_type             466285 non-null  object
 53  annual_inc_joint             0 non-null       float64
 54  dti_joint                    0 non-null       float64
 55  verification_status_joint    0 non-null       float64
 56  acc_now_delinq               466256 non-null  float64
 57  tot_coll_amt                 396009 non-null  float64
 58  tot_cur_bal                  396009 non-null  float64
 59  open_acc_6m                  0 non-null       float64
 60  open_il_6m                   0 non-null       float64
 61  open_il_12m                  0 non-null       float64
 62  open_il_24m                  0 non-null       float64
 63  mths_since_rcnt_il           0 non-null       float64
 64  total_bal_il                 0 non-null       float64
 65  il_util                      0 non-null       float64
 66  open_rv_12m                  0 non-null       float64
 67  open_rv_24m                  0 non-null       float64
 68  max_bal_bc                   0 non-null       float64
 69  all_util                     0 non-null       float64
 70  total_rev_hi_lim             396009 non-null  float64
 71  inq_fi                       0 non-null       float64
 72  total_cu_tl                  0 non-null       float64
 73  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(6), object(22)
memory usage: 266.8+ MB

### Preprocessing the data

In [7]:
data.emp_length.unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [8]:
data['emp_length_int']=data.emp_length.str.replace('\+ years','')
data['emp_length_int']=data.emp_length_int.str.replace('< 1 year',str(0))
data['emp_length_int']=data.emp_length_int.str.replace('years','')
data['emp_length_int']=data.emp_length_int.str.replace('year','')
data['emp_length_int']=data.emp_length_int.fillna(str(0))

<ipython-input-8-0f936fd2acda>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['emp_length_int']=data.emp_length.str.replace('\+ years','')

In [9]:
data.emp_length_int.unique()

array(['10', '0', '1 ', '3 ', '8 ', '9 ', '4 ', '5 ', '6 ', '2 ', '7 '],
      dtype=object)

In [10]:
type(data.emp_length_int[0])

str

In [11]:
# Transform strings to numeric data
data.emp_length_int=pd.to_numeric(data.emp_length_int)

In [12]:
type(data.emp_length_int[0])

numpy.int64

In [13]:
# Preprocess values in term feature
data.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

In [14]:
data['term_int']=data.term.str.replace(' months','')
type(data.term[0])

str

In [15]:
data.term_int.unique()

array([' 36', ' 60'], dtype=object)

In [16]:
data.term_int=pd.to_numeric(data.term_int)
type(data.term_int[0])

numpy.int64

In [17]:
# Dates of earliest credit line is a string it has to be transformed to date time
data.earliest_cr_line

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [18]:
data['earliest_cr_line_date']=pd.to_datetime(data.earliest_cr_line,format="%b-%y")

In [19]:
data.earliest_cr_line_date.head()

0   1985-01-01
1   1999-04-01
2   2001-11-01
3   1996-02-01
4   1996-01-01
Name: earliest_cr_line_date, dtype: datetime64[ns]

In [20]:
type(data.earliest_cr_line_date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [21]:
# i will estimate the days since earliest credit line because dataset is old up to 2014 
# i will set control date 2016-12-01 
data['mths_since_earlst_cr_l']=round(pd.to_numeric((pd.to_datetime('2016-12-01')-data.earliest_cr_line_date)/np.timedelta64(1,'M')))

In [22]:
data.mths_since_earlst_cr_l.sort_values(ascending=True)

386212   -624.0
275535   -624.0
338048   -624.0
458624   -624.0
421872   -624.0
          ...
42530       NaN
42531       NaN
42532       NaN
42533       NaN
42534       NaN
Name: mths_since_earlst_cr_l, Length: 466285, dtype: float64

In [23]:
# Give me the negative values
data.loc[:,['earliest_cr_line','earliest_cr_line_date','mths_since_earlst_cr_l']][data['mths_since_earlst_cr_l']<0]

       earliest_cr_line earliest_cr_line_date  mths_since_earlst_cr_l
1580             Sep-62            2062-09-01                  -549.0
1770             Sep-68            2068-09-01                  -621.0
2799             Sep-64            2064-09-01                  -573.0
3282             Sep-67            2067-09-01                  -609.0
3359             Feb-65            2065-02-01                  -578.0
...                 ...                   ...                     ...
464003           Jan-68            2068-01-01                  -613.0
464260           Jul-66            2066-07-01                  -595.0
465100           Oct-67            2067-10-01                  -610.0
465500           Sep-67            2067-09-01                  -609.0
465655           Jan-56            2056-01-01                  -469.0

[1169 rows x 3 columns]

In [24]:
# We will give them the maximum value because these are too old dates
data['mths_since_earlst_cr_l'][data['mths_since_earlst_cr_l']<0]=data.mths_since_earlst_cr_l.max()

<ipython-input-24-fd688dbc5ed9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['mths_since_earlst_cr_l'][data['mths_since_earlst_cr_l']<0]=data.mths_since_earlst_cr_l.max()

In [25]:
data.mths_since_earlst_cr_l.sort_values(ascending=True)

236606    61.0
236335    61.0
236552    61.0
241630    62.0
233760    62.0
          ...
42530      NaN
42531      NaN
42532      NaN
42533      NaN
42534      NaN
Name: mths_since_earlst_cr_l, Length: 466285, dtype: float64

In [26]:
# I have to drop all null features first i will have all the columns
colummns_names=data.columns
colummns_names

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'emp_length_int', 'term_int', 'earliest_cr_line_date',
       'mths_since_earlst_cr_l'],
      dtype='object')

In [27]:
#The columns with null values
columns_todrop=['annual_inc_joint', 'dti_joint', 'verification_status_joint','open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util','inq_fi', 'total_cu_tl', 'inq_last_12m']

In [28]:
data=data.drop(columns_todrop,axis=1)

In [29]:
# We will examine issue_d feature
data.issue_d.unique()

array(['Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Nov-08', 'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08',
       'Jun-08', 'May-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07', 'Nov-07', 'Oct-07', 'Sep-07', 'Aug-07', 'Jul-07',
       'Jun-07', 'Dec-13', 'Nov-13', 'Oct-13', 'Sep-13', 'Aug-13',
       'Jul-13', 'Jun-13', 'May-13', 'Apr-13', 'Mar-13', 'Feb-13',
       'Jan-13', 'Dec-12', 'Nov-12', 'Oct-12', 'Sep-12', 'Aug-12',
       'Jul-12', 'Jun-12', 'May-12', 'Apr-12', 'Mar-12', 'Feb-12',
       'Jan-12', 'Dec-14', 'Nov-14', 'Oct-14', 'Sep-14', 'Aug-14',
       'Jul-14', 'Jun-14', 'May-14', 'Apr-14', 'Mar-14', 'Feb-14',
       'Jan-14'], dtype=object)

In [30]:
data['issue_d_date']=pd.to_datetime(data.issue_d,format='%b-%y')

In [31]:
# i will use the sam procedure as the first credit for issue date
data['mths_since_issue_d']=round(pd.to_numeric((pd.to_datetime('2016-12-01')-data.issue_d_date)/np.timedelta64(1,'M')))

In [32]:
# Valuse seem ok
data.mths_since_issue_d.describe()

count    466285.000000
mean         39.255187
std          14.340154
min          24.000000
25%          29.000000
50%          35.000000
75%          45.000000
max         114.000000
Name: mths_since_issue_d, dtype: float64

## Categorical variables that we have to transform

In [33]:
# First i will drop the features that i used before
data=data.drop(['term','emp_length','earliest_cr_line_date','earliest_cr_line','issue_d_date'],axis=1)

In [34]:
# Trying to find cateorical variables
data.emp_title.nunique()
# Too many unique values

205475

In [35]:
data.emp_title.value_counts()

Teacher                        5399
Manager                        4438
Registered Nurse               2316
RN                             2204
Supervisor                     1967
                               ...
Gathering Technician              1
Sr. Claims Adjuster               1
Centene Corp                      1
Global Relationship Manager       1
production management inc         1
Name: emp_title, Length: 205475, dtype: int64

In [36]:
data.home_ownership.nunique()

6

In [37]:
data.home_ownership.unique()
# Seems Ok

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER', 'NONE', 'ANY'], dtype=object)

In [38]:
data.grade.nunique()

7

In [39]:
data.sub_grade.nunique()

35

In [40]:
data.verification_status.nunique()

3

In [41]:
data.verification_status.unique()

array(['Verified', 'Source Verified', 'Not Verified'], dtype=object)

In [42]:
data.verification_status.value_counts()

Verified           168055
Source Verified    149993
Not Verified       148237
Name: verification_status, dtype: int64

In [43]:
# This is the target 
data.loan_status.value_counts()

Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [44]:
# Seems irrelevant
data.pymnt_plan.value_counts()

n    466276
y         9
Name: pymnt_plan, dtype: int64

In [45]:
# Seems irrelevant
data.url.head()

0    https://www.lendingclub.com/browse/loanDetail....
1    https://www.lendingclub.com/browse/loanDetail....
2    https://www.lendingclub.com/browse/loanDetail....
3    https://www.lendingclub.com/browse/loanDetail....
4    https://www.lendingclub.com/browse/loanDetail....
Name: url, dtype: object

In [46]:
# Too few observations
data.desc.head()

0      Borrower added on 12/22/11 > I need to upgra...
1      Borrower added on 12/22/11 > I plan to use t...
2                                                  NaN
3      Borrower added on 12/21/11 > to pay for prop...
4      Borrower added on 12/21/11 > I plan on combi...
Name: desc, dtype: object

In [47]:
data=data.drop(['url','desc'],axis=1)

In [48]:
data.purpose.value_counts()

debt_consolidation    274195
credit_card           104157
home_improvement       26537
other                  23690
major_purchase          9828
small_business          7013
car                     5397
medical                 4602
moving                  2994
vacation                2487
wedding                 2343
house                   2269
educational              422
renewable_energy         351
Name: purpose, dtype: int64

In [49]:
data.title.value_counts()

Debt consolidation                 164075
Credit card refinancing             62275
Debt Consolidation                  15760
Home improvement                    14849
Other                               12713
                                    ...
amex payoff                             1
Pay off Citibank Visa                   1
PURCHASE MULTI FAMILY APARTMENT         1
Snow Removal                            1
card                                    1
Name: title, Length: 63099, dtype: int64

In [50]:
# title seem to be same as purpose feature with more compact values
data=data.drop(['title'],axis=1)

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466285 entries, 0 to 466284
Data columns (total 55 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   int_rate                     466285 non-null  float64
 6   installment                  466285 non-null  float64
 7   grade                        466285 non-null  object
 8   sub_grade                    466285 non-null  object
 9   emp_title                    438697 non-null  object
 10  home_ownership               466285 non-null  object
 11  annual_inc                   466281 non-null  float64
 12  verification_status          466285 non-null  object
 13  issue_d                      466285 non-null  object
 14  loan_status                  466285 non-null  object
 15  pymnt_plan                   466285 non-null  object
 16  purpose                      466285 non-null  object
 17  zip_code                     466285 non-null  object
 18  addr_state                   466285 non-null  object
 19  dti                          466285 non-null  float64
 20  delinq_2yrs                  466256 non-null  float64
 21  inq_last_6mths               466256 non-null  float64
 22  mths_since_last_delinq       215934 non-null  float64
 23  mths_since_last_record       62638 non-null   float64
 24  open_acc                     466256 non-null  float64
 25  pub_rec                      466256 non-null  float64
 26  revol_bal                    466285 non-null  int64
 27  revol_util                   465945 non-null  float64
 28  total_acc                    466256 non-null  float64
 29  initial_list_status          466285 non-null  object
 30  out_prncp                    466285 non-null  float64
 31  out_prncp_inv                466285 non-null  float64
 32  total_pymnt                  466285 non-null  float64
 33  total_pymnt_inv              466285 non-null  float64
 34  total_rec_prncp              466285 non-null  float64
 35  total_rec_int                466285 non-null  float64
 36  total_rec_late_fee           466285 non-null  float64
 37  recoveries                   466285 non-null  float64
 38  collection_recovery_fee      466285 non-null  float64
 39  last_pymnt_d                 465909 non-null  object
 40  last_pymnt_amnt              466285 non-null  float64
 41  next_pymnt_d                 239071 non-null  object
 42  last_credit_pull_d           466243 non-null  object
 43  collections_12_mths_ex_med   466140 non-null  float64
 44  mths_since_last_major_derog  98974 non-null   float64
 45  policy_code                  466285 non-null  int64
 46  application_type             466285 non-null  object
 47  acc_now_delinq               466256 non-null  float64
 48  tot_coll_amt                 396009 non-null  float64
 49  tot_cur_bal                  396009 non-null  float64
 50  total_rev_hi_lim             396009 non-null  float64
 51  emp_length_int               466285 non-null  int64
 52  term_int                     466285 non-null  int64
 53  mths_since_earlst_cr_l       466256 non-null  float64
 54  mths_since_issue_d           466285 non-null  float64
dtypes: float64(31), int64(8), object(16)
memory usage: 215.3+ MB

In [52]:
data.zip_code.nunique()

888

In [53]:
# i dont know the iportnace of it
data.zip_code.value_counts()

945xx    5304
112xx    5102
750xx    5013
606xx    4696
100xx    4391
         ...
511xx       1
938xx       1
854xx       1
587xx       1
510xx       1
Name: zip_code, Length: 888, dtype: int64

In [54]:
data.addr_state.value_counts()

CA    71450
NY    40242
TX    36439
FL    31637
IL    18612
NJ    18061
PA    16424
OH    15237
GA    14975
VA    14222
NC    12682
MI    11549
MA    11072
MD    10974
AZ    10712
WA    10517
CO     9739
MN     8158
MO     7508
CT     7204
IN     6525
NV     6519
TN     5984
OR     5949
WI     5911
AL     5853
SC     5583
LA     5489
KY     4438
KS     4190
OK     4117
AR     3488
UT     3428
NM     2588
HI     2487
WV     2412
NH     2232
RI     2050
DC     1426
MT     1396
DE     1272
AK     1251
MS     1226
WY     1128
SD      980
VT      905
IA       14
NE       14
ID       12
ME        4
Name: addr_state, dtype: int64

In [55]:
data.initial_list_status.value_counts()

f    303005
w    163280
Name: initial_list_status, dtype: int64

In [56]:
type(data.last_pymnt_d[0])

str

In [57]:
data.last_pymnt_d.head()

0    Jan-15
1    Apr-13
2    Jun-14
3    Jan-15
4    Jan-16
Name: last_pymnt_d, dtype: object

In [58]:
# this feature is in no use because its already tha last payment and can give any information also i will remove id and member id
data=data.drop(['last_pymnt_d','id','member_id'],axis=1)

In [59]:
# the same is for next_pymnt_d
data=data.drop(['next_pymnt_d'],axis=1)

In [60]:
data['last_credit_pull_d_date']=pd.to_datetime(data.last_credit_pull_d,format='%b-%y')

In [61]:
# i will use the sam procedure as the first credit for issue date
data['mths_since_last_cr']=round(pd.to_numeric((pd.to_datetime('2016-12-01')-data.last_credit_pull_d_date)/np.timedelta64(1,'M')))

In [62]:
data=data.drop(['last_credit_pull_d_date','last_credit_pull_d'],axis=1)

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466285 entries, 0 to 466284
Data columns (total 51 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loan_amnt                    466285 non-null  int64
 1   funded_amnt                  466285 non-null  int64
 2   funded_amnt_inv              466285 non-null  float64
 3   int_rate                     466285 non-null  float64
 4   installment                  466285 non-null  float64
 5   grade                        466285 non-null  object
 6   sub_grade                    466285 non-null  object
 7   emp_title                    438697 non-null  object
 8   home_ownership               466285 non-null  object
 9   annual_inc                   466281 non-null  float64
 10  verification_status          466285 non-null  object
 11  issue_d                      466285 non-null  object
 12  loan_status                  466285 non-null  object
 13  pymnt_plan                   466285 non-null  object
 14  purpose                      466285 non-null  object
 15  zip_code                     466285 non-null  object
 16  addr_state                   466285 non-null  object
 17  dti                          466285 non-null  float64
 18  delinq_2yrs                  466256 non-null  float64
 19  inq_last_6mths               466256 non-null  float64
 20  mths_since_last_delinq       215934 non-null  float64
 21  mths_since_last_record       62638 non-null   float64
 22  open_acc                     466256 non-null  float64
 23  pub_rec                      466256 non-null  float64
 24  revol_bal                    466285 non-null  int64
 25  revol_util                   465945 non-null  float64
 26  total_acc                    466256 non-null  float64
 27  initial_list_status          466285 non-null  object
 28  out_prncp                    466285 non-null  float64
 29  out_prncp_inv                466285 non-null  float64
 30  total_pymnt                  466285 non-null  float64
 31  total_pymnt_inv              466285 non-null  float64
 32  total_rec_prncp              466285 non-null  float64
 33  total_rec_int                466285 non-null  float64
 34  total_rec_late_fee           466285 non-null  float64
 35  recoveries                   466285 non-null  float64
 36  collection_recovery_fee      466285 non-null  float64
 37  last_pymnt_amnt              466285 non-null  float64
 38  collections_12_mths_ex_med   466140 non-null  float64
 39  mths_since_last_major_derog  98974 non-null   float64
 40  policy_code                  466285 non-null  int64
 41  application_type             466285 non-null  object
 42  acc_now_delinq               466256 non-null  float64
 43  tot_coll_amt                 396009 non-null  float64
 44  tot_cur_bal                  396009 non-null  float64
 45  total_rev_hi_lim             396009 non-null  float64
 46  emp_length_int               466285 non-null  int64
 47  term_int                     466285 non-null  int64
 48  mths_since_earlst_cr_l       466256 non-null  float64
 49  mths_since_issue_d           466285 non-null  float64
 50  mths_since_last_cr           466243 non-null  float64
dtypes: float64(32), int64(6), object(13)
memory usage: 201.1+ MB

In [64]:
data.application_type.value_counts()

INDIVIDUAL    466285
Name: application_type, dtype: int64

In [65]:
# Means nothing so drop it
data=data.drop(['application_type'],axis=1)

In [66]:
data=data.drop(['emp_title','pymnt_plan','zip_code'],axis=1)

In [67]:
data=data.drop(['issue_d'],axis=1)

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466285 entries, 0 to 466284
Data columns (total 46 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loan_amnt                    466285 non-null  int64
 1   funded_amnt                  466285 non-null  int64
 2   funded_amnt_inv              466285 non-null  float64
 3   int_rate                     466285 non-null  float64
 4   installment                  466285 non-null  float64
 5   grade                        466285 non-null  object
 6   sub_grade                    466285 non-null  object
 7   home_ownership               466285 non-null  object
 8   annual_inc                   466281 non-null  float64
 9   verification_status          466285 non-null  object
 10  loan_status                  466285 non-null  object
 11  purpose                      466285 non-null  object
 12  addr_state                   466285 non-null  object
 13  dti                          466285 non-null  float64
 14  delinq_2yrs                  466256 non-null  float64
 15  inq_last_6mths               466256 non-null  float64
 16  mths_since_last_delinq       215934 non-null  float64
 17  mths_since_last_record       62638 non-null   float64
 18  open_acc                     466256 non-null  float64
 19  pub_rec                      466256 non-null  float64
 20  revol_bal                    466285 non-null  int64
 21  revol_util                   465945 non-null  float64
 22  total_acc                    466256 non-null  float64
 23  initial_list_status          466285 non-null  object
 24  out_prncp                    466285 non-null  float64
 25  out_prncp_inv                466285 non-null  float64
 26  total_pymnt                  466285 non-null  float64
 27  total_pymnt_inv              466285 non-null  float64
 28  total_rec_prncp              466285 non-null  float64
 29  total_rec_int                466285 non-null  float64
 30  total_rec_late_fee           466285 non-null  float64
 31  recoveries                   466285 non-null  float64
 32  collection_recovery_fee      466285 non-null  float64
 33  last_pymnt_amnt              466285 non-null  float64
 34  collections_12_mths_ex_med   466140 non-null  float64
 35  mths_since_last_major_derog  98974 non-null   float64
 36  policy_code                  466285 non-null  int64
 37  acc_now_delinq               466256 non-null  float64
 38  tot_coll_amt                 396009 non-null  float64
 39  tot_cur_bal                  396009 non-null  float64
 40  total_rev_hi_lim             396009 non-null  float64
 41  emp_length_int               466285 non-null  int64
 42  term_int                     466285 non-null  int64
 43  mths_since_earlst_cr_l       466256 non-null  float64
 44  mths_since_issue_d           466285 non-null  float64
 45  mths_since_last_cr           466243 non-null  float64
dtypes: float64(32), int64(6), object(8)
memory usage: 183.3+ MB

In [69]:
data.mths_since_last_delinq.describe()

count    215934.000000
mean         34.104430
std          21.778487
min           0.000000
25%          16.000000
50%          31.000000
75%          49.000000
max         188.000000
Name: mths_since_last_delinq, dtype: float64

In [70]:
# There are many null values so i am goint to drop ths_since_last_delinq and mths_since_last_record
data=data.drop(['mths_since_last_delinq','mths_since_last_record'],axis=1)

In [71]:
## Get dummies of categorical variables
data_dummies=pd.get_dummies(data.grade,prefix='grade',prefix_sep=':')

In [72]:
# With the same procedure i will continue eith other variable
data_dummies=pd.concat([data_dummies,pd.get_dummies(data.sub_grade,prefix='sub-grade',prefix_sep=':')],axis=1)

In [73]:
data_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466285 entries, 0 to 466284
Data columns (total 42 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   grade:A       466285 non-null  uint8
 1   grade:B       466285 non-null  uint8
 2   grade:C       466285 non-null  uint8
 3   grade:D       466285 non-null  uint8
 4   grade:E       466285 non-null  uint8
 5   grade:F       466285 non-null  uint8
 6   grade:G       466285 non-null  uint8
 7   sub-grade:A1  466285 non-null  uint8
 8   sub-grade:A2  466285 non-null  uint8
 9   sub-grade:A3  466285 non-null  uint8
 10  sub-grade:A4  466285 non-null  uint8
 11  sub-grade:A5  466285 non-null  uint8
 12  sub-grade:B1  466285 non-null  uint8
 13  sub-grade:B2  466285 non-null  uint8
 14  sub-grade:B3  466285 non-null  uint8
 15  sub-grade:B4  466285 non-null  uint8
 16  sub-grade:B5  466285 non-null  uint8
 17  sub-grade:C1  466285 non-null  uint8
 18  sub-grade:C2  466285 non-null  uint8
 19  sub-grade:C3  466285 non-null  uint8
 20  sub-grade:C4  466285 non-null  uint8
 21  sub-grade:C5  466285 non-null  uint8
 22  sub-grade:D1  466285 non-null  uint8
 23  sub-grade:D2  466285 non-null  uint8
 24  sub-grade:D3  466285 non-null  uint8
 25  sub-grade:D4  466285 non-null  uint8
 26  sub-grade:D5  466285 non-null  uint8
 27  sub-grade:E1  466285 non-null  uint8
 28  sub-grade:E2  466285 non-null  uint8
 29  sub-grade:E3  466285 non-null  uint8
 30  sub-grade:E4  466285 non-null  uint8
 31  sub-grade:E5  466285 non-null  uint8
 32  sub-grade:F1  466285 non-null  uint8
 33  sub-grade:F2  466285 non-null  uint8
 34  sub-grade:F3  466285 non-null  uint8
 35  sub-grade:F4  466285 non-null  uint8
 36  sub-grade:F5  466285 non-null  uint8
 37  sub-grade:G1  466285 non-null  uint8
 38  sub-grade:G2  466285 non-null  uint8
 39  sub-grade:G3  466285 non-null  uint8
 40  sub-grade:G4  466285 non-null  uint8
 41  sub-grade:G5  466285 non-null  uint8
dtypes: uint8(42)
memory usage: 38.4 MB

In [74]:
# With the same procedure i will continuew eith other varible
data_dummies=pd.concat([data_dummies,pd.get_dummies(data.home_ownership,prefix='home_ownership',prefix_sep=':')],axis=1)

In [75]:
# With the same procedure i will continuew eith other varible
data_dummies=pd.concat([data_dummies,pd.get_dummies(data.verification_status,prefix='verification_status',prefix_sep=':')],axis=1)

In [76]:
# With the same procedure i will continuew eith other varible
data_dummies=pd.concat([data_dummies,pd.get_dummies(data.purpose,prefix='purpose',prefix_sep=':')],axis=1)

In [77]:
# With the same procedure i will continuew eith other varible
data_dummies=pd.concat([data_dummies,pd.get_dummies(data.addr_state,prefix='addr_state',prefix_sep=':')],axis=1)

In [78]:
# With the same procedure i will continuew eith other varible
data_dummies=pd.concat([data_dummies,pd.get_dummies(data.initial_list_status,prefix='initial_list_status',prefix_sep=':')],axis=1)

In [79]:
data=data.drop(['grade','sub_grade','home_ownership','verification_status','purpose','addr_state','initial_list_status'],axis=1)

In [80]:
data_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466285 entries, 0 to 466284
Columns: 117 entries, grade:A to initial_list_status:w
dtypes: uint8(117)
memory usage: 71.7 MB

In [81]:
data=pd.concat([data,data_dummies],axis=1)

In [82]:
data.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate',
       'installment', 'annual_inc', 'loan_status', 'dti', 'delinq_2yrs',
       'inq_last_6mths',
       ...
       'addr_state:TX', 'addr_state:UT', 'addr_state:VA', 'addr_state:VT',
       'addr_state:WA', 'addr_state:WI', 'addr_state:WV', 'addr_state:WY',
       'initial_list_status:f', 'initial_list_status:w'],
      dtype='object', length=154)

## Now the data contains all the dummies

In [83]:
# First i will look for null values in the data set
pd.options.display.max_rows=None
data.isnull().sum()

loan_amnt                                   0
funded_amnt                                 0
funded_amnt_inv                             0
int_rate                                    0
installment                                 0
annual_inc                                  4
loan_status                                 0
dti                                         0
delinq_2yrs                                29
inq_last_6mths                             29
open_acc                                   29
pub_rec                                    29
revol_bal                                   0
revol_util                                340
total_acc                                  29
out_prncp                                   0
out_prncp_inv                               0
total_pymnt                                 0
total_pymnt_inv                             0
total_rec_prncp                             0
total_rec_int                               0
total_rec_late_fee                          0
recoveries                                  0
collection_recovery_fee                     0
last_pymnt_amnt                             0
collections_12_mths_ex_med                145
mths_since_last_major_derog            367311
policy_code                                 0
acc_now_delinq                             29
tot_coll_amt                            70276
tot_cur_bal                             70276
total_rev_hi_lim                        70276
emp_length_int                              0
term_int                                    0
mths_since_earlst_cr_l                     29
mths_since_issue_d                          0
mths_since_last_cr                         42
grade:A                                     0
grade:B                                     0
grade:C                                     0
grade:D                                     0
grade:E                                     0
grade:F                                     0
grade:G                                     0
sub-grade:A1                                0
sub-grade:A2                                0
sub-grade:A3                                0
sub-grade:A4                                0
sub-grade:A5                                0
sub-grade:B1                                0
sub-grade:B2                                0
sub-grade:B3                                0
sub-grade:B4                                0
sub-grade:B5                                0
sub-grade:C1                                0
sub-grade:C2                                0
sub-grade:C3                                0
sub-grade:C4                                0
sub-grade:C5                                0
sub-grade:D1                                0
sub-grade:D2                                0
sub-grade:D3                                0
sub-grade:D4                                0
sub-grade:D5                                0
sub-grade:E1                                0
sub-grade:E2                                0
sub-grade:E3                                0
sub-grade:E4                                0
sub-grade:E5                                0
sub-grade:F1                                0
sub-grade:F2                                0
sub-grade:F3                                0
sub-grade:F4                                0
sub-grade:F5                                0
sub-grade:G1                                0
sub-grade:G2                                0
sub-grade:G3                                0
sub-grade:G4                                0
sub-grade:G5                                0
home_ownership:ANY                          0
home_ownership:MORTGAGE                     0
home_ownership:NONE                         0
home_ownership:OTHER                        0
home_ownership:OWN                          0
home_ownership:RENT                         0
verification_status:Not Verified            0
verification_status:Source Verified         0
verification_status:Verified                0
purpose:car                                 0
purpose:credit_card                         0
purpose:debt_consolidation                  0
purpose:educational                         0
purpose:home_improvement                    0
purpose:house                               0
purpose:major_purchase                      0
purpose:medical                             0
purpose:moving                              0
purpose:other                               0
purpose:renewable_energy                    0
purpose:small_business                      0
purpose:vacation                            0
purpose:wedding                             0
addr_state:AK                               0
addr_state:AL                               0
addr_state:AR                               0
addr_state:AZ                               0
addr_state:CA                               0
addr_state:CO                               0
addr_state:CT                               0
addr_state:DC                               0
addr_state:DE                               0
addr_state:FL                               0
addr_state:GA                               0
addr_state:HI                               0
addr_state:IA                               0
addr_state:ID                               0
addr_state:IL                               0
addr_state:IN                               0
addr_state:KS                               0
addr_state:KY                               0
addr_state:LA                               0
addr_state:MA                               0
addr_state:MD                               0
addr_state:ME                               0
addr_state:MI                               0
addr_state:MN                               0
addr_state:MO                               0
addr_state:MS                               0
addr_state:MT                               0
addr_state:NC                               0
addr_state:NE                               0
addr_state:NH                               0
addr_state:NJ                               0
addr_state:NM                               0
addr_state:NV                               0
addr_state:NY                               0
addr_state:OH                               0
addr_state:OK                               0
addr_state:OR                               0
addr_state:PA                               0
addr_state:RI                               0
addr_state:SC                               0
addr_state:SD                               0
addr_state:TN                               0
addr_state:TX                               0
addr_state:UT                               0
addr_state:VA                               0
addr_state:VT                               0
addr_state:WA                               0
addr_state:WI                               0
addr_state:WV                               0
addr_state:WY                               0
initial_list_status:f                       0
initial_list_status:w                       0
dtype: int64

In [84]:
data.delinq_2yrs.describe()

count    466256.000000
mean          0.284678
std           0.797365
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          29.000000
Name: delinq_2yrs, dtype: float64

In [85]:
# Too few observattions we can drop them 
data=data.dropna(subset=['delinq_2yrs'])

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466256 entries, 0 to 466284
Columns: 154 entries, loan_amnt to initial_list_status:w
dtypes: float64(30), int64(6), object(1), uint8(117)
memory usage: 187.2+ MB

In [87]:
data.revol_util.describe()

count    465945.000000
mean         56.176947
std          23.732628
min           0.000000
25%          39.200000
50%          57.600000
75%          74.700000
max         892.300000
Name: revol_util, dtype: float64

In [88]:
data.revol_bal.describe()

count    4.662560e+05
mean     1.623121e+04
std      2.067649e+04
min      0.000000e+00
25%      6.414000e+03
50%      1.176500e+04
75%      2.033300e+04
max      2.568995e+06
Name: revol_bal, dtype: float64

In [89]:
data.loan_amnt.describe()

count    466256.000000
mean      14317.925292
std        8286.339281
min         500.000000
25%        8000.000000
50%       12000.000000
75%       20000.000000
max       35000.000000
Name: loan_amnt, dtype: float64

In [90]:
# we will drop it cant find somethin usefull for these observations
data=data.dropna(subset=['revol_util'])

In [91]:
# Check again null values
pd.options.display.max_rows=None
data.isnull().sum()

loan_amnt                                   0
funded_amnt                                 0
funded_amnt_inv                             0
int_rate                                    0
installment                                 0
annual_inc                                  0
loan_status                                 0
dti                                         0
delinq_2yrs                                 0
inq_last_6mths                              0
open_acc                                    0
pub_rec                                     0
revol_bal                                   0
revol_util                                  0
total_acc                                   0
out_prncp                                   0
out_prncp_inv                               0
total_pymnt                                 0
total_pymnt_inv                             0
total_rec_prncp                             0
total_rec_int                               0
total_rec_late_fee                          0
recoveries                                  0
collection_recovery_fee                     0
last_pymnt_amnt                             0
collections_12_mths_ex_med                113
mths_since_last_major_derog            367050
policy_code                                 0
acc_now_delinq                              0
tot_coll_amt                            70155
tot_cur_bal                             70155
total_rev_hi_lim                        70155
emp_length_int                              0
term_int                                    0
mths_since_earlst_cr_l                      0
mths_since_issue_d                          0
mths_since_last_cr                         41
grade:A                                     0
grade:B                                     0
grade:C                                     0
grade:D                                     0
grade:E                                     0
grade:F                                     0
grade:G                                     0
sub-grade:A1                                0
sub-grade:A2                                0
sub-grade:A3                                0
sub-grade:A4                                0
sub-grade:A5                                0
sub-grade:B1                                0
sub-grade:B2                                0
sub-grade:B3                                0
sub-grade:B4                                0
sub-grade:B5                                0
sub-grade:C1                                0
sub-grade:C2                                0
sub-grade:C3                                0
sub-grade:C4                                0
sub-grade:C5                                0
sub-grade:D1                                0
sub-grade:D2                                0
sub-grade:D3                                0
sub-grade:D4                                0
sub-grade:D5                                0
sub-grade:E1                                0
sub-grade:E2                                0
sub-grade:E3                                0
sub-grade:E4                                0
sub-grade:E5                                0
sub-grade:F1                                0
sub-grade:F2                                0
sub-grade:F3                                0
sub-grade:F4                                0
sub-grade:F5                                0
sub-grade:G1                                0
sub-grade:G2                                0
sub-grade:G3                                0
sub-grade:G4                                0
sub-grade:G5                                0
home_ownership:ANY                          0
home_ownership:MORTGAGE                     0
home_ownership:NONE                         0
home_ownership:OTHER                        0
home_ownership:OWN                          0
home_ownership:RENT                         0
verification_status:Not Verified            0
verification_status:Source Verified         0
verification_status:Verified                0
purpose:car                                 0
purpose:credit_card                         0
purpose:debt_consolidation                  0
purpose:educational                         0
purpose:home_improvement                    0
purpose:house                               0
purpose:major_purchase                      0
purpose:medical                             0
purpose:moving                              0
purpose:other                               0
purpose:renewable_energy                    0
purpose:small_business                      0
purpose:vacation                            0
purpose:wedding                             0
addr_state:AK                               0
addr_state:AL                               0
addr_state:AR                               0
addr_state:AZ                               0
addr_state:CA                               0
addr_state:CO                               0
addr_state:CT                               0
addr_state:DC                               0
addr_state:DE                               0
addr_state:FL                               0
addr_state:GA                               0
addr_state:HI                               0
addr_state:IA                               0
addr_state:ID                               0
addr_state:IL                               0
addr_state:IN                               0
addr_state:KS                               0
addr_state:KY                               0
addr_state:LA                               0
addr_state:MA                               0
addr_state:MD                               0
addr_state:ME                               0
addr_state:MI                               0
addr_state:MN                               0
addr_state:MO                               0
addr_state:MS                               0
addr_state:MT                               0
addr_state:NC                               0
addr_state:NE                               0
addr_state:NH                               0
addr_state:NJ                               0
addr_state:NM                               0
addr_state:NV                               0
addr_state:NY                               0
addr_state:OH                               0
addr_state:OK                               0
addr_state:OR                               0
addr_state:PA                               0
addr_state:RI                               0
addr_state:SC                               0
addr_state:SD                               0
addr_state:TN                               0
addr_state:TX                               0
addr_state:UT                               0
addr_state:VA                               0
addr_state:VT                               0
addr_state:WA                               0
addr_state:WI                               0
addr_state:WV                               0
addr_state:WY                               0
initial_list_status:f                       0
initial_list_status:w                       0
dtype: int64

In [92]:
# These few obsesrvations will also be droped
data=data.dropna(subset=['collections_12_mths_ex_med'])

In [93]:
# Check again null values
pd.options.display.max_rows=None
data.isnull().sum()

loan_amnt                                   0
funded_amnt                                 0
funded_amnt_inv                             0
int_rate                                    0
installment                                 0
annual_inc                                  0
loan_status                                 0
dti                                         0
delinq_2yrs                                 0
inq_last_6mths                              0
open_acc                                    0
pub_rec                                     0
revol_bal                                   0
revol_util                                  0
total_acc                                   0
out_prncp                                   0
out_prncp_inv                               0
total_pymnt                                 0
total_pymnt_inv                             0
total_rec_prncp                             0
total_rec_int                               0
total_rec_late_fee                          0
recoveries                                  0
collection_recovery_fee                     0
last_pymnt_amnt                             0
collections_12_mths_ex_med                  0
mths_since_last_major_derog            366937
policy_code                                 0
acc_now_delinq                              0
tot_coll_amt                            70042
tot_cur_bal                             70042
total_rev_hi_lim                        70042
emp_length_int                              0
term_int                                    0
mths_since_earlst_cr_l                      0
mths_since_issue_d                          0
mths_since_last_cr                         40
grade:A                                     0
grade:B                                     0
grade:C                                     0
grade:D                                     0
grade:E                                     0
grade:F                                     0
grade:G                                     0
sub-grade:A1                                0
sub-grade:A2                                0
sub-grade:A3                                0
sub-grade:A4                                0
sub-grade:A5                                0
sub-grade:B1                                0
sub-grade:B2                                0
sub-grade:B3                                0
sub-grade:B4                                0
sub-grade:B5                                0
sub-grade:C1                                0
sub-grade:C2                                0
sub-grade:C3                                0
sub-grade:C4                                0
sub-grade:C5                                0
sub-grade:D1                                0
sub-grade:D2                                0
sub-grade:D3                                0
sub-grade:D4                                0
sub-grade:D5                                0
sub-grade:E1                                0
sub-grade:E2                                0
sub-grade:E3                                0
sub-grade:E4                                0
sub-grade:E5                                0
sub-grade:F1                                0
sub-grade:F2                                0
sub-grade:F3                                0
sub-grade:F4                                0
sub-grade:F5                                0
sub-grade:G1                                0
sub-grade:G2                                0
sub-grade:G3                                0
sub-grade:G4                                0
sub-grade:G5                                0
home_ownership:ANY                          0
home_ownership:MORTGAGE                     0
home_ownership:NONE                         0
home_ownership:OTHER                        0
home_ownership:OWN                          0
home_ownership:RENT                         0
verification_status:Not Verified            0
verification_status:Source Verified         0
verification_status:Verified                0
purpose:car                                 0
purpose:credit_card                         0
purpose:debt_consolidation                  0
purpose:educational                         0
purpose:home_improvement                    0
purpose:house                               0
purpose:major_purchase                      0
purpose:medical                             0
purpose:moving                              0
purpose:other                               0
purpose:renewable_energy                    0
purpose:small_business                      0
purpose:vacation                            0
purpose:wedding                             0
addr_state:AK                               0
addr_state:AL                               0
addr_state:AR                               0
addr_state:AZ                               0
addr_state:CA                               0
addr_state:CO                               0
addr_state:CT                               0
addr_state:DC                               0
addr_state:DE                               0
addr_state:FL                               0
addr_state:GA                               0
addr_state:HI                               0
addr_state:IA                               0
addr_state:ID                               0
addr_state:IL                               0
addr_state:IN                               0
addr_state:KS                               0
addr_state:KY                               0
addr_state:LA                               0
addr_state:MA                               0
addr_state:MD                               0
addr_state:ME                               0
addr_state:MI                               0
addr_state:MN                               0
addr_state:MO                               0
addr_state:MS                               0
addr_state:MT                               0
addr_state:NC                               0
addr_state:NE                               0
addr_state:NH                               0
addr_state:NJ                               0
addr_state:NM                               0
addr_state:NV                               0
addr_state:NY                               0
addr_state:OH                               0
addr_state:OK                               0
addr_state:OR                               0
addr_state:PA                               0
addr_state:RI                               0
addr_state:SC                               0
addr_state:SD                               0
addr_state:TN                               0
addr_state:TX                               0
addr_state:UT                               0
addr_state:VA                               0
addr_state:VT                               0
addr_state:WA                               0
addr_state:WI                               0
addr_state:WV                               0
addr_state:WY                               0
initial_list_status:f                       0
initial_list_status:w                       0
dtype: int64

In [94]:
# these are 40 observation which will drop
data=data.dropna(subset=['mths_since_last_cr'])

In [95]:
# Check again null values
pd.options.display.max_rows=None
data.isnull().sum()

loan_amnt                                   0
funded_amnt                                 0
funded_amnt_inv                             0
int_rate                                    0
installment                                 0
annual_inc                                  0
loan_status                                 0
dti                                         0
delinq_2yrs                                 0
inq_last_6mths                              0
open_acc                                    0
pub_rec                                     0
revol_bal                                   0
revol_util                                  0
total_acc                                   0
out_prncp                                   0
out_prncp_inv                               0
total_pymnt                                 0
total_pymnt_inv                             0
total_rec_prncp                             0
total_rec_int                               0
total_rec_late_fee                          0
recoveries                                  0
collection_recovery_fee                     0
last_pymnt_amnt                             0
collections_12_mths_ex_med                  0
mths_since_last_major_derog            366905
policy_code                                 0
acc_now_delinq                              0
tot_coll_amt                            70040
tot_cur_bal                             70040
total_rev_hi_lim                        70040
emp_length_int                              0
term_int                                    0
mths_since_earlst_cr_l                      0
mths_since_issue_d                          0
mths_since_last_cr                          0
grade:A                                     0
grade:B                                     0
grade:C                                     0
grade:D                                     0
grade:E                                     0
grade:F                                     0
grade:G                                     0
sub-grade:A1                                0
sub-grade:A2                                0
sub-grade:A3                                0
sub-grade:A4                                0
sub-grade:A5                                0
sub-grade:B1                                0
sub-grade:B2                                0
sub-grade:B3                                0
sub-grade:B4                                0
sub-grade:B5                                0
sub-grade:C1                                0
sub-grade:C2                                0
sub-grade:C3                                0
sub-grade:C4                                0
sub-grade:C5                                0
sub-grade:D1                                0
sub-grade:D2                                0
sub-grade:D3                                0
sub-grade:D4                                0
sub-grade:D5                                0
sub-grade:E1                                0
sub-grade:E2                                0
sub-grade:E3                                0
sub-grade:E4                                0
sub-grade:E5                                0
sub-grade:F1                                0
sub-grade:F2                                0
sub-grade:F3                                0
sub-grade:F4                                0
sub-grade:F5                                0
sub-grade:G1                                0
sub-grade:G2                                0
sub-grade:G3                                0
sub-grade:G4                                0
sub-grade:G5                                0
home_ownership:ANY                          0
home_ownership:MORTGAGE                     0
home_ownership:NONE                         0
home_ownership:OTHER                        0
home_ownership:OWN                          0
home_ownership:RENT                         0
verification_status:Not Verified            0
verification_status:Source Verified         0
verification_status:Verified                0
purpose:car                                 0
purpose:credit_card                         0
purpose:debt_consolidation                  0
purpose:educational                         0
purpose:home_improvement                    0
purpose:house                               0
purpose:major_purchase                      0
purpose:medical                             0
purpose:moving                              0
purpose:other                               0
purpose:renewable_energy                    0
purpose:small_business                      0
purpose:vacation                            0
purpose:wedding                             0
addr_state:AK                               0
addr_state:AL                               0
addr_state:AR                               0
addr_state:AZ                               0
addr_state:CA                               0
addr_state:CO                               0
addr_state:CT                               0
addr_state:DC                               0
addr_state:DE                               0
addr_state:FL                               0
addr_state:GA                               0
addr_state:HI                               0
addr_state:IA                               0
addr_state:ID                               0
addr_state:IL                               0
addr_state:IN                               0
addr_state:KS                               0
addr_state:KY                               0
addr_state:LA                               0
addr_state:MA                               0
addr_state:MD                               0
addr_state:ME                               0
addr_state:MI                               0
addr_state:MN                               0
addr_state:MO                               0
addr_state:MS                               0
addr_state:MT                               0
addr_state:NC                               0
addr_state:NE                               0
addr_state:NH                               0
addr_state:NJ                               0
addr_state:NM                               0
addr_state:NV                               0
addr_state:NY                               0
addr_state:OH                               0
addr_state:OK                               0
addr_state:OR                               0
addr_state:PA                               0
addr_state:RI                               0
addr_state:SC                               0
addr_state:SD                               0
addr_state:TN                               0
addr_state:TX                               0
addr_state:UT                               0
addr_state:VA                               0
addr_state:VT                               0
addr_state:WA                               0
addr_state:WI                               0
addr_state:WV                               0
addr_state:WY                               0
initial_list_status:f                       0
initial_list_status:w                       0
dtype: int64

## Now there are 4 features with many null values will check them

In [96]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 465792 entries, 0 to 466284
Columns: 154 entries, loan_amnt to initial_list_status:w
dtypes: float64(30), int64(6), object(1), uint8(117)
memory usage: 187.0+ MB

In [97]:
data.mths_since_last_major_derog.describe()

count    98887.000000
mean        42.858900
std         21.663963
min          0.000000
25%         26.000000
50%         42.000000
75%         59.000000
max        188.000000
Name: mths_since_last_major_derog, dtype: float64

In [98]:
# I suggest two dummy varibles 0 if these is null value and 1 if thes eis a value
data=data.drop(['mths_since_last_major_derog'],axis=1)

In [99]:
# Check again null values
pd.options.display.max_rows=None
data.isnull().sum()

loan_amnt                                  0
funded_amnt                                0
funded_amnt_inv                            0
int_rate                                   0
installment                                0
annual_inc                                 0
loan_status                                0
dti                                        0
delinq_2yrs                                0
inq_last_6mths                             0
open_acc                                   0
pub_rec                                    0
revol_bal                                  0
revol_util                                 0
total_acc                                  0
out_prncp                                  0
out_prncp_inv                              0
total_pymnt                                0
total_pymnt_inv                            0
total_rec_prncp                            0
total_rec_int                              0
total_rec_late_fee                         0
recoveries                                 0
collection_recovery_fee                    0
last_pymnt_amnt                            0
collections_12_mths_ex_med                 0
policy_code                                0
acc_now_delinq                             0
tot_coll_amt                           70040
tot_cur_bal                            70040
total_rev_hi_lim                       70040
emp_length_int                             0
term_int                                   0
mths_since_earlst_cr_l                     0
mths_since_issue_d                         0
mths_since_last_cr                         0
grade:A                                    0
grade:B                                    0
grade:C                                    0
grade:D                                    0
grade:E                                    0
grade:F                                    0
grade:G                                    0
sub-grade:A1                               0
sub-grade:A2                               0
sub-grade:A3                               0
sub-grade:A4                               0
sub-grade:A5                               0
sub-grade:B1                               0
sub-grade:B2                               0
sub-grade:B3                               0
sub-grade:B4                               0
sub-grade:B5                               0
sub-grade:C1                               0
sub-grade:C2                               0
sub-grade:C3                               0
sub-grade:C4                               0
sub-grade:C5                               0
sub-grade:D1                               0
sub-grade:D2                               0
sub-grade:D3                               0
sub-grade:D4                               0
sub-grade:D5                               0
sub-grade:E1                               0
sub-grade:E2                               0
sub-grade:E3                               0
sub-grade:E4                               0
sub-grade:E5                               0
sub-grade:F1                               0
sub-grade:F2                               0
sub-grade:F3                               0
sub-grade:F4                               0
sub-grade:F5                               0
sub-grade:G1                               0
sub-grade:G2                               0
sub-grade:G3                               0
sub-grade:G4                               0
sub-grade:G5                               0
home_ownership:ANY                         0
home_ownership:MORTGAGE                    0
home_ownership:NONE                        0
home_ownership:OTHER                       0
home_ownership:OWN                         0
home_ownership:RENT                        0
verification_status:Not Verified           0
verification_status:Source Verified        0
verification_status:Verified               0
purpose:car                                0
purpose:credit_card                        0
purpose:debt_consolidation                 0
purpose:educational                        0
purpose:home_improvement                   0
purpose:house                              0
purpose:major_purchase                     0
purpose:medical                            0
purpose:moving                             0
purpose:other                              0
purpose:renewable_energy                   0
purpose:small_business                     0
purpose:vacation                           0
purpose:wedding                            0
addr_state:AK                              0
addr_state:AL                              0
addr_state:AR                              0
addr_state:AZ                              0
addr_state:CA                              0
addr_state:CO                              0
addr_state:CT                              0
addr_state:DC                              0
addr_state:DE                              0
addr_state:FL                              0
addr_state:GA                              0
addr_state:HI                              0
addr_state:IA                              0
addr_state:ID                              0
addr_state:IL                              0
addr_state:IN                              0
addr_state:KS                              0
addr_state:KY                              0
addr_state:LA                              0
addr_state:MA                              0
addr_state:MD                              0
addr_state:ME                              0
addr_state:MI                              0
addr_state:MN                              0
addr_state:MO                              0
addr_state:MS                              0
addr_state:MT                              0
addr_state:NC                              0
addr_state:NE                              0
addr_state:NH                              0
addr_state:NJ                              0
addr_state:NM                              0
addr_state:NV                              0
addr_state:NY                              0
addr_state:OH                              0
addr_state:OK                              0
addr_state:OR                              0
addr_state:PA                              0
addr_state:RI                              0
addr_state:SC                              0
addr_state:SD                              0
addr_state:TN                              0
addr_state:TX                              0
addr_state:UT                              0
addr_state:VA                              0
addr_state:VT                              0
addr_state:WA                              0
addr_state:WI                              0
addr_state:WV                              0
addr_state:WY                              0
initial_list_status:f                      0
initial_list_status:w                      0
dtype: int64

In [100]:
data.tot_coll_amt.describe()

count    3.957520e+05
mean     1.919287e+02
std      1.463492e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      9.152545e+06
Name: tot_coll_amt, dtype: float64

In [101]:
data=data.drop(['tot_coll_amt'],axis=1)

In [102]:
pd.options.display.max_rows=None
data.isnull().sum()

loan_amnt                                  0
funded_amnt                                0
funded_amnt_inv                            0
int_rate                                   0
installment                                0
annual_inc                                 0
loan_status                                0
dti                                        0
delinq_2yrs                                0
inq_last_6mths                             0
open_acc                                   0
pub_rec                                    0
revol_bal                                  0
revol_util                                 0
total_acc                                  0
out_prncp                                  0
out_prncp_inv                              0
total_pymnt                                0
total_pymnt_inv                            0
total_rec_prncp                            0
total_rec_int                              0
total_rec_late_fee                         0
recoveries                                 0
collection_recovery_fee                    0
last_pymnt_amnt                            0
collections_12_mths_ex_med                 0
policy_code                                0
acc_now_delinq                             0
tot_cur_bal                            70040
total_rev_hi_lim                       70040
emp_length_int                             0
term_int                                   0
mths_since_earlst_cr_l                     0
mths_since_issue_d                         0
mths_since_last_cr                         0
grade:A                                    0
grade:B                                    0
grade:C                                    0
grade:D                                    0
grade:E                                    0
grade:F                                    0
grade:G                                    0
sub-grade:A1                               0
sub-grade:A2                               0
sub-grade:A3                               0
sub-grade:A4                               0
sub-grade:A5                               0
sub-grade:B1                               0
sub-grade:B2                               0
sub-grade:B3                               0
sub-grade:B4                               0
sub-grade:B5                               0
sub-grade:C1                               0
sub-grade:C2                               0
sub-grade:C3                               0
sub-grade:C4                               0
sub-grade:C5                               0
sub-grade:D1                               0
sub-grade:D2                               0
sub-grade:D3                               0
sub-grade:D4                               0
sub-grade:D5                               0
sub-grade:E1                               0
sub-grade:E2                               0
sub-grade:E3                               0
sub-grade:E4                               0
sub-grade:E5                               0
sub-grade:F1                               0
sub-grade:F2                               0
sub-grade:F3                               0
sub-grade:F4                               0
sub-grade:F5                               0
sub-grade:G1                               0
sub-grade:G2                               0
sub-grade:G3                               0
sub-grade:G4                               0
sub-grade:G5                               0
home_ownership:ANY                         0
home_ownership:MORTGAGE                    0
home_ownership:NONE                        0
home_ownership:OTHER                       0
home_ownership:OWN                         0
home_ownership:RENT                        0
verification_status:Not Verified           0
verification_status:Source Verified        0
verification_status:Verified               0
purpose:car                                0
purpose:credit_card                        0
purpose:debt_consolidation                 0
purpose:educational                        0
purpose:home_improvement                   0
purpose:house                              0
purpose:major_purchase                     0
purpose:medical                            0
purpose:moving                             0
purpose:other                              0
purpose:renewable_energy                   0
purpose:small_business                     0
purpose:vacation                           0
purpose:wedding                            0
addr_state:AK                              0
addr_state:AL                              0
addr_state:AR                              0
addr_state:AZ                              0
addr_state:CA                              0
addr_state:CO                              0
addr_state:CT                              0
addr_state:DC                              0
addr_state:DE                              0
addr_state:FL                              0
addr_state:GA                              0
addr_state:HI                              0
addr_state:IA                              0
addr_state:ID                              0
addr_state:IL                              0
addr_state:IN                              0
addr_state:KS                              0
addr_state:KY                              0
addr_state:LA                              0
addr_state:MA                              0
addr_state:MD                              0
addr_state:ME                              0
addr_state:MI                              0
addr_state:MN                              0
addr_state:MO                              0
addr_state:MS                              0
addr_state:MT                              0
addr_state:NC                              0
addr_state:NE                              0
addr_state:NH                              0
addr_state:NJ                              0
addr_state:NM                              0
addr_state:NV                              0
addr_state:NY                              0
addr_state:OH                              0
addr_state:OK                              0
addr_state:OR                              0
addr_state:PA                              0
addr_state:RI                              0
addr_state:SC                              0
addr_state:SD                              0
addr_state:TN                              0
addr_state:TX                              0
addr_state:UT                              0
addr_state:VA                              0
addr_state:VT                              0
addr_state:WA                              0
addr_state:WI                              0
addr_state:WV                              0
addr_state:WY                              0
initial_list_status:f                      0
initial_list_status:w                      0
dtype: int64

In [103]:
data=data.drop(['tot_cur_bal','total_rev_hi_lim'],axis=1)

In [104]:
# Now there are no missing values
data.count()

loan_amnt                              465792
funded_amnt                            465792
funded_amnt_inv                        465792
int_rate                               465792
installment                            465792
annual_inc                             465792
loan_status                            465792
dti                                    465792
delinq_2yrs                            465792
inq_last_6mths                         465792
open_acc                               465792
pub_rec                                465792
revol_bal                              465792
revol_util                             465792
total_acc                              465792
out_prncp                              465792
out_prncp_inv                          465792
total_pymnt                            465792
total_pymnt_inv                        465792
total_rec_prncp                        465792
total_rec_int                          465792
total_rec_late_fee                     465792
recoveries                             465792
collection_recovery_fee                465792
last_pymnt_amnt                        465792
collections_12_mths_ex_med             465792
policy_code                            465792
acc_now_delinq                         465792
emp_length_int                         465792
term_int                               465792
mths_since_earlst_cr_l                 465792
mths_since_issue_d                     465792
mths_since_last_cr                     465792
grade:A                                465792
grade:B                                465792
grade:C                                465792
grade:D                                465792
grade:E                                465792
grade:F                                465792
grade:G                                465792
sub-grade:A1                           465792
sub-grade:A2                           465792
sub-grade:A3                           465792
sub-grade:A4                           465792
sub-grade:A5                           465792
sub-grade:B1                           465792
sub-grade:B2                           465792
sub-grade:B3                           465792
sub-grade:B4                           465792
sub-grade:B5                           465792
sub-grade:C1                           465792
sub-grade:C2                           465792
sub-grade:C3                           465792
sub-grade:C4                           465792
sub-grade:C5                           465792
sub-grade:D1                           465792
sub-grade:D2                           465792
sub-grade:D3                           465792
sub-grade:D4                           465792
sub-grade:D5                           465792
sub-grade:E1                           465792
sub-grade:E2                           465792
sub-grade:E3                           465792
sub-grade:E4                           465792
sub-grade:E5                           465792
sub-grade:F1                           465792
sub-grade:F2                           465792
sub-grade:F3                           465792
sub-grade:F4                           465792
sub-grade:F5                           465792
sub-grade:G1                           465792
sub-grade:G2                           465792
sub-grade:G3                           465792
sub-grade:G4                           465792
sub-grade:G5                           465792
home_ownership:ANY                     465792
home_ownership:MORTGAGE                465792
home_ownership:NONE                    465792
home_ownership:OTHER                   465792
home_ownership:OWN                     465792
home_ownership:RENT                    465792
verification_status:Not Verified       465792
verification_status:Source Verified    465792
verification_status:Verified           465792
purpose:car                            465792
purpose:credit_card                    465792
purpose:debt_consolidation             465792
purpose:educational                    465792
purpose:home_improvement               465792
purpose:house                          465792
purpose:major_purchase                 465792
purpose:medical                        465792
purpose:moving                         465792
purpose:other                          465792
purpose:renewable_energy               465792
purpose:small_business                 465792
purpose:vacation                       465792
purpose:wedding                        465792
addr_state:AK                          465792
addr_state:AL                          465792
addr_state:AR                          465792
addr_state:AZ                          465792
addr_state:CA                          465792
addr_state:CO                          465792
addr_state:CT                          465792
addr_state:DC                          465792
addr_state:DE                          465792
addr_state:FL                          465792
addr_state:GA                          465792
addr_state:HI                          465792
addr_state:IA                          465792
addr_state:ID                          465792
addr_state:IL                          465792
addr_state:IN                          465792
addr_state:KS                          465792
addr_state:KY                          465792
addr_state:LA                          465792
addr_state:MA                          465792
addr_state:MD                          465792
addr_state:ME                          465792
addr_state:MI                          465792
addr_state:MN                          465792
addr_state:MO                          465792
addr_state:MS                          465792
addr_state:MT                          465792
addr_state:NC                          465792
addr_state:NE                          465792
addr_state:NH                          465792
addr_state:NJ                          465792
addr_state:NM                          465792
addr_state:NV                          465792
addr_state:NY                          465792
addr_state:OH                          465792
addr_state:OK                          465792
addr_state:OR                          465792
addr_state:PA                          465792
addr_state:RI                          465792
addr_state:SC                          465792
addr_state:SD                          465792
addr_state:TN                          465792
addr_state:TX                          465792
addr_state:UT                          465792
addr_state:VA                          465792
addr_state:VT                          465792
addr_state:WA                          465792
addr_state:WI                          465792
addr_state:WV                          465792
addr_state:WY                          465792
initial_list_status:f                  465792
initial_list_status:w                  465792
dtype: int64

# Probability of Default

In [105]:
data.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [106]:
# i will set a new feature target 0 for deafult 1 for good loan
data['good_bad']=np.where(data.loan_status.isin(['Charged Off','Default',
                                                'Late (31-120 days)',
                                                'Does not meet the credit policy. Status:Charged Off']),0,1)

In [107]:
data['good_bad'].value_counts()/data['good_bad'].count()

1    0.890765
0    0.109235
Name: good_bad, dtype: float64

In [108]:
data.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate',
       'installment', 'annual_inc', 'loan_status', 'dti', 'delinq_2yrs',
       'inq_last_6mths',
       ...
       'addr_state:UT', 'addr_state:VA', 'addr_state:VT', 'addr_state:WA',
       'addr_state:WI', 'addr_state:WV', 'addr_state:WY',
       'initial_list_status:f', 'initial_list_status:w', 'good_bad'],
      dtype='object', length=151)

In [109]:
data=data.drop(['loan_status'],axis=1)

In [110]:
X=data.drop(['good_bad'],axis=1)
y=data['good_bad']

## I will split the data in order to evaluate the model

In [111]:
from sklearn.model_selection import train_test_split

In [112]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.25)

In [113]:
from sklearn.linear_model import LogisticRegression

In [114]:
reg=LogisticRegression(max_iter=500)

In [115]:
reg.fit(X_train,y_train)

C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=500)

In [116]:
y_pred=reg.predict(X_test)

In [117]:
from sklearn.metrics import classification_report, confusion_matrix

In [118]:
print(confusion_matrix(y_test,y_pred))

[[ 10637   2138]
 [    15 103658]]

In [119]:
y_test.sum()

103673

In [120]:
y_pred.sum()

105796

In [121]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.83      0.91     12775
           1       0.98      1.00      0.99    103673

    accuracy                           0.98    116448
   macro avg       0.99      0.92      0.95    116448
weighted avg       0.98      0.98      0.98    116448

In [122]:
data.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate',
       'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths',
       'open_acc',
       ...
       'addr_state:UT', 'addr_state:VA', 'addr_state:VT', 'addr_state:WA',
       'addr_state:WI', 'addr_state:WV', 'addr_state:WY',
       'initial_list_status:f', 'initial_list_status:w', 'good_bad'],
      dtype='object', length=150)

In [123]:
from sklearn.ensemble import RandomForestClassifier

In [124]:
rfc=RandomForestClassifier()

In [125]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [126]:
y_pred=rfc.predict(X_test)

In [127]:
print(confusion_matrix(y_test,y_pred))

[[ 10816   1959]
 [    10 103663]]

In [128]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.85      0.92     12775
           1       0.98      1.00      0.99    103673

    accuracy                           0.98    116448
   macro avg       0.99      0.92      0.95    116448
weighted avg       0.98      0.98      0.98    116448

## Now we will estimate the importance of each feature into the result

In [129]:
feature_importance=rfc.feature_importances_

In [130]:
for i, importance in enumerate(feature_importance):
    print(f"Feature {i+1}: {importance}")

Feature 1: 0.027966412254704344
Feature 2: 0.03589664475863366
Feature 3: 0.03173853498799608
Feature 4: 0.01056843037904478
Feature 5: 0.036123411607732886
Feature 6: 0.0074037316683232615
Feature 7: 0.00791118027882073
Feature 8: 0.001797709364130399
Feature 9: 0.003005529434395088
Feature 10: 0.005479607609686101
Feature 11: 0.0012131771434867578
Feature 12: 0.00806096140127367
Feature 13: 0.0074806748555739655
Feature 14: 0.006097863904177198
Feature 15: 0.052733386737260995
Feature 16: 0.0527982203761247
Feature 17: 0.054211295361424244
Feature 18: 0.04710543073436507
Feature 19: 0.12096603401529127
Feature 20: 0.01891312335295399
Feature 21: 0.012060921027338013
Feature 22: 0.1522004290793521
Feature 23: 0.15121919020051838
Feature 24: 0.04680442071417261
Feature 25: 0.00018771126655005424
Feature 26: 0.0
Feature 27: 0.00014833188368405968
Feature 28: 0.0037637134969458817
Feature 29: 0.004639711196961738
Feature 30: 0.007200602029664871
Feature 31: 0.023561837230539305
Feature 32: 0.014645348586231932
Feature 33: 0.0017637223891360826
Feature 34: 0.0010480115602687383
Feature 35: 0.0008103495721661317
Feature 36: 0.000974789415006848
Feature 37: 0.0011005170410506315
Feature 38: 0.0007441809055021653
Feature 39: 0.0002341950454558912
Feature 40: 0.00013540983237189165
Feature 41: 0.00013103039892246106
Feature 42: 0.00011055980356074329
Feature 43: 0.00018037933863741278
Feature 44: 0.00022081976520509723
Feature 45: 0.00023266749547308646
Feature 46: 0.0003165578696801265
Feature 47: 0.0003547254061851282
Feature 48: 0.0003575528593247419
Feature 49: 0.00037851761763497944
Feature 50: 0.0004221971029443176
Feature 51: 0.0004400560769654948
Feature 52: 0.0004553816867030989
Feature 53: 0.00045969449811938327
Feature 54: 0.0004231702476519761
Feature 55: 0.0004350065307162586
Feature 56: 0.00038266066260372655
Feature 57: 0.00033610017708749493
Feature 58: 0.0003668652022412576
Feature 59: 0.00030980455095088404
Feature 60: 0.00026347467706092754
Feature 61: 0.000298608831291525
Feature 62: 0.00024232626346065041
Feature 63: 0.00022925822718630284
Feature 64: 0.00017349048536481414
Feature 65: 0.00018564889937178994
Feature 66: 0.000133073992049492
Feature 67: 0.00017319789230596432
Feature 68: 0.00011097924164267326
Feature 69: 9.804615237539763e-05
Feature 70: 9.298395549728031e-05
Feature 71: 6.0759947291929515e-05
Feature 72: 5.5082586818561014e-05
Feature 73: 4.4180526287424137e-05
Feature 74: 2.672537989996632e-05
Feature 75: 0.0
Feature 76: 0.0011362385222646835
Feature 77: 9.878436940040877e-08
Feature 78: 2.4752005974899177e-05
Feature 79: 0.0006773668642306407
Feature 80: 0.0011626391344083337
Feature 81: 0.0016801033234122677
Feature 82: 0.0012246652206465984
Feature 83: 0.0013489890415253518
Feature 84: 0.00016560812555888605
Feature 85: 0.001015239358712366
Feature 86: 0.0014484816620324856
Feature 87: 3.421959088031357e-05
Feature 88: 0.0005351066827083424
Feature 89: 0.00014889466162827227
Feature 90: 0.00032850252371086
Feature 91: 0.00023691087929332842
Feature 92: 0.00017949099254790848
Feature 93: 0.0005602610432327052
Feature 94: 2.639061006528541e-05
Feature 95: 0.0003318870170869605
Feature 96: 0.0001819974563940971
Feature 97: 7.069351340178437e-05
Feature 98: 0.0001042473559737342
Feature 99: 0.00028085999905960756
Feature 100: 0.0002243955688650944
Feature 101: 0.0004490289925901177
Feature 102: 0.0009310011965312836
Feature 103: 0.0003359660717910955
Feature 104: 0.00026977720588775245
Feature 105: 6.723431829812345e-05
Feature 106: 0.00011112558903117767
Feature 107: 0.0007497575858643806
Feature 108: 0.00045384713997010425
Feature 109: 0.00020555747103537215
Feature 110: 2.5480050276611356e-07
Feature 111: 8.857846310177117e-07
Feature 112: 0.0004443113380128078
Feature 113: 0.0002973317224839328
Feature 114: 0.00016150670267201138
Feature 115: 0.00019266717651185205
Feature 116: 0.00031134858795896664
Feature 117: 0.00036588621165976225
Feature 118: 0.000406130134227356
Feature 119: 0.0
Feature 120: 0.00037479255231229766
Feature 121: 0.00034333674149348203
Feature 122: 0.0002740525807914551
Feature 123: 5.9718073255183386e-05
Feature 124: 0.00011715595846526339
Feature 125: 0.00044056021010954364
Feature 126: 2.2200663636333398e-05
Feature 127: 0.0001247717469770206
Feature 128: 0.0005433880757863698
Feature 129: 0.00016611237830944602
Feature 130: 0.00037734639006535364
Feature 131: 0.0009044289143161606
Feature 132: 0.0004460766740042865
Feature 133: 0.0002848959884546788
Feature 134: 0.00023189033889699326
Feature 135: 0.0005200403114794871
Feature 136: 0.0001575293303302978
Feature 137: 0.0002401580144953565
Feature 138: 9.598074465181382e-05
Feature 139: 0.00034481935527082714
Feature 140: 0.0006646209149254223
Feature 141: 0.0002164901720436293
Feature 142: 0.0005015611430898
Feature 143: 5.7194786308161535e-05
Feature 144: 0.0003281104562163497
Feature 145: 0.0002728737196115393
Feature 146: 0.00016350272678168927
Feature 147: 6.861767230514918e-05
Feature 148: 0.0017382795219759903
Feature 149: 0.0018214988291675764

In [136]:
feat_import=pd.DataFrame(data=feature_importance,index=X_train.columns,columns=['Feature importance'])

In [139]:
#Below is the descending orede of the feature importance
feat_import.sort_values(by=['Feature importance'],ascending=False)

                                     Feature importance
recoveries                                 1.522004e-01
collection_recovery_fee                    1.512192e-01
total_rec_prncp                            1.209660e-01
total_pymnt                                5.421130e-02
out_prncp_inv                              5.279822e-02
out_prncp                                  5.273339e-02
total_pymnt_inv                            4.710543e-02
last_pymnt_amnt                            4.680442e-02
installment                                3.612341e-02
funded_amnt                                3.589664e-02
funded_amnt_inv                            3.173853e-02
loan_amnt                                  2.796641e-02
mths_since_issue_d                         2.356184e-02
total_rec_int                              1.891312e-02
mths_since_last_cr                         1.464535e-02
total_rec_late_fee                         1.206092e-02
int_rate                                   1.056843e-02
revol_bal                                  8.060961e-03
dti                                        7.911180e-03
revol_util                                 7.480675e-03
annual_inc                                 7.403732e-03
mths_since_earlst_cr_l                     7.200602e-03
total_acc                                  6.097864e-03
open_acc                                   5.479608e-03
term_int                                   4.639711e-03
emp_length_int                             3.763713e-03
inq_last_6mths                             3.005529e-03
initial_list_status:w                      1.821499e-03
delinq_2yrs                                1.797709e-03
grade:A                                    1.763722e-03
initial_list_status:f                      1.738280e-03
verification_status:Not Verified           1.680103e-03
purpose:debt_consolidation                 1.448482e-03
verification_status:Verified               1.348989e-03
verification_status:Source Verified        1.224665e-03
pub_rec                                    1.213177e-03
home_ownership:RENT                        1.162639e-03
home_ownership:MORTGAGE                    1.136239e-03
grade:E                                    1.100517e-03
grade:B                                    1.048012e-03
purpose:credit_card                        1.015239e-03
grade:D                                    9.747894e-04
addr_state:CA                              9.310012e-04
addr_state:NY                              9.044289e-04
grade:C                                    8.103496e-04
addr_state:FL                              7.497576e-04
grade:F                                    7.441809e-04
home_ownership:OWN                         6.773669e-04
addr_state:TX                              6.646209e-04
purpose:other                              5.602610e-04
addr_state:NJ                              5.433881e-04
purpose:home_improvement                   5.351067e-04
addr_state:PA                              5.200403e-04
addr_state:VA                              5.015611e-04
sub-grade:C4                               4.596945e-04
sub-grade:C3                               4.553817e-04
addr_state:GA                              4.538471e-04
addr_state:AZ                              4.490290e-04
addr_state:OH                              4.460767e-04
addr_state:IL                              4.443113e-04
addr_state:NC                              4.405602e-04
sub-grade:C2                               4.400561e-04
sub-grade:D1                               4.350065e-04
sub-grade:C5                               4.231702e-04
sub-grade:C1                               4.221971e-04
addr_state:MD                              4.061301e-04
sub-grade:D2                               3.826607e-04
sub-grade:B5                               3.785176e-04
addr_state:NV                              3.773464e-04
addr_state:MI                              3.747926e-04
sub-grade:D4                               3.668652e-04
addr_state:MA                              3.658862e-04
sub-grade:B4                               3.575529e-04
sub-grade:B3                               3.547254e-04
addr_state:TN                              3.448194e-04
addr_state:MN                              3.433367e-04
sub-grade:D3                               3.361002e-04
addr_state:CO                              3.359661e-04
purpose:small_business                     3.318870e-04
purpose:major_purchase                     3.285025e-04
addr_state:WA                              3.281105e-04
sub-grade:B2                               3.165579e-04
addr_state:LA                              3.113486e-04
sub-grade:D5                               3.098046e-04
sub-grade:E2                               2.986088e-04
addr_state:IN                              2.973317e-04
addr_state:OK                              2.848960e-04
addr_state:AL                              2.808600e-04
addr_state:MO                              2.740526e-04
addr_state:WI                              2.728737e-04
addr_state:CT                              2.697772e-04
sub-grade:E1                               2.634747e-04
sub-grade:E3                               2.423263e-04
addr_state:SC                              2.401580e-04
purpose:medical                            2.369109e-04
grade:G                                    2.341950e-04
sub-grade:B1                               2.326675e-04
addr_state:OR                              2.318903e-04
sub-grade:E4                               2.292582e-04
addr_state:AR                              2.243956e-04
sub-grade:A5                               2.208198e-04
addr_state:UT                              2.164902e-04
addr_state:HI                              2.055575e-04
addr_state:KY                              1.926672e-04
collections_12_mths_ex_med                 1.877113e-04
sub-grade:F1                               1.856489e-04
purpose:vacation                           1.819975e-04
sub-grade:A4                               1.803793e-04
purpose:moving                             1.794910e-04
sub-grade:E5                               1.734905e-04
sub-grade:F3                               1.731979e-04
addr_state:NM                              1.661124e-04
purpose:car                                1.656081e-04
addr_state:WV                              1.635027e-04
addr_state:KS                              1.615067e-04
addr_state:RI                              1.575293e-04
purpose:house                              1.488947e-04
acc_now_delinq                             1.483319e-04
sub-grade:A1                               1.354098e-04
sub-grade:F2                               1.330740e-04
sub-grade:A2                               1.310304e-04
addr_state:NH                              1.247717e-04
addr_state:MT                              1.171560e-04
addr_state:DE                              1.111256e-04
sub-grade:F4                               1.109792e-04
sub-grade:A3                               1.105598e-04
addr_state:AK                              1.042474e-04
sub-grade:F5                               9.804615e-05
addr_state:SD                              9.598074e-05
sub-grade:G1                               9.298396e-05
purpose:wedding                            7.069351e-05
addr_state:WY                              6.861767e-05
addr_state:DC                              6.723432e-05
sub-grade:G2                               6.075995e-05
addr_state:MS                              5.971807e-05
addr_state:VT                              5.719479e-05
sub-grade:G3                               5.508259e-05
sub-grade:G4                               4.418053e-05
purpose:educational                        3.421959e-05
sub-grade:G5                               2.672538e-05
purpose:renewable_energy                   2.639061e-05
home_ownership:OTHER                       2.475201e-05
addr_state:NE                              2.220066e-05
addr_state:ID                              8.857846e-07
addr_state:IA                              2.548005e-07
home_ownership:NONE                        9.878437e-08
addr_state:ME                              0.000000e+00
policy_code                                0.000000e+00
home_ownership:ANY                         0.000000e+00